<html>
<head>
<title>Jazz Health Assistant</title>
</head>
<body>
<input type="date" id="date"></input>
<input type="time" id="time"></input>
<input type="number" value=0 id="number"></input>
<input type="button" value="Add" id="button"></input>
<div>
<ul id="ul"></ul>
<div>
<div style="display: block; box-sizing: border-box; height: 285px; width: 570px;" width="570" height="285">
<canvas id="chart"></canvas>
<canvas id="chart2"></canvas>
<canvas id="chart3"></canvas>
</div>
</body>
</html>
<script>
function getRandomArbitrary(min, max) {
  return Math.random() * (max - min) + min;
}
year = 2024;
month = 3;
day = 23 - 6;
document.getElementById('date').value = "2024-03-23";
document.getElementById('time').value = "12:00";
document.getElementById('number').value = 80;
document.getElementById("button").onclick = function() {
	var date = document.getElementById("date");
	var time = document.getElementById("time");
	var number = document.getElementById("number");
	if (date.value != "" && time.value != "") {
		document.getElementById("ul").insertAdjacentHTML("beforeend", "<li>" + date.value + "</li>");
		chart.data.labels.push(date.value + ", " + time.value);
		chart.data.datasets[0].data.push(parseInt(number.value));
		chart.update();
		// date.value = "";
		// time.value = "";
		// number.value = "";
	}
}
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
var chart = new Chart(document.getElementById("chart"), {
	type : 'line',
	data : {
		labels : [ year + "-" + month + "-" + (day++), year + "-" + month + "-" + (day++), year + "-" + month + "-" + (day++), year + "-" + month + "-" + (day++), year + "-" + month + "-" + (day++), year + "-" + month + "-" + (day++) ],
		datasets : [
				{
					label: 'Blood Sugar',
					data : [ getRandomArbitrary(80, 130), getRandomArbitrary(80, 130), getRandomArbitrary(80, 130), getRandomArbitrary(80, 130), getRandomArbitrary(80, 130), getRandomArbitrary(80, 130) ],
					borderColor : "#3cba9f",
					fill : false
				}]
	},
	options : {
		title : {
			display : true,
			text : 'Chart JS Line Chart Example'
		}
	}
});
var chart2 = new Chart(document.getElementById("chart2"), {
	type : 'line',
	data : {
		labels : [ year + "-" + month + "-" + (day++), year + "-" + month + "-" + (day++), year + "-" + month + "-" + (day++), year + "-" + month + "-" + (day++), year + "-" + month + "-" + (day++), year + "-" + month + "-" + (day++) ],
		datasets : [
				{
					label: 'Heart Rate',
					data : [ getRandomArbitrary(80, 130), getRandomArbitrary(80, 130), getRandomArbitrary(80, 130), getRandomArbitrary(80, 130), getRandomArbitrary(80, 130), getRandomArbitrary(80, 130) ],
					borderColor : "#354d73",
					fill : false
				}]
	},
	options : {
		title : {
			display : true,
			text : 'Chart JS Line Chart Example'
		}
	}
});
var chart3 = new Chart(document.getElementById("chart3"), {
	type : 'line',
	data : {
		labels : [ year + "-" + month + "-" + (day++), year + "-" + month + "-" + (day++), year + "-" + month + "-" + (day++), year + "-" + month + "-" + (day++), year + "-" + month + "-" + (day++), year + "-" + month + "-" + (day++) ],
		datasets : [
				{
					label: 'Blood Pressure',
					data : [ getRandomArbitrary(80, 130), getRandomArbitrary(80, 130), getRandomArbitrary(80, 130), getRandomArbitrary(80, 130), getRandomArbitrary(80, 130), getRandomArbitrary(80, 130) ],
					borderColor : "#c51d34",
					fill : false
				}]
	},
	options : {
		title : {
			display : true,
			text : 'Chart JS Line Chart Example'
		}
	}
});
</script>